/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09 26, 19, 10:22:01 AM
    Author     : ai
*/

* {
    margin: 0;
    padding: 0;
}

.container
{
    width: 1000px;
    margin: 0 auto 0;
}

.head
{
    font: bold 40px sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0;
}

section
{
    float: left;
    width: 50%;
    text-align: center;
    margin: 10px 0;
}

button
{
    font: bold 20px sans-serif;
    color: #fff;
    background: #2196F3;
    padding: 20px;
    width: 300px;
    border: 0;
    border-radius: 4px;
}
button:hover
{
    background: #7ABCF1;
    cursor: pointer;
}
button.active
{
    background: #0665B1;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    float: left;
    background-color: #fefefe;
    margin: 20px;
    padding: 20px;
    border: 1px solid #888;
}

.modal-content h1{
    font: bold 30px sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.modal-content section
{
    float: left;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    padding: 10px 10px;
    border-radius: 3px;
}

.modal-content section span
{
    display: block;
    text-align: left;
}

.modal-content section .fact-text
{
    font: 18px sans-serif;
    color: #000;
}
.modal-content section .fact-author
{
    font: 15px sans-serif;
    color: #808080;
}


/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #000;
    background: #D3D3D3;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 41px;
}

.close:hover,
.close:focus {
    background: #ECECEC;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    body
    {
        padding: 0 20px;
    }
    .container {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    section{
        width: 100%; 
    }
    .head{
        text-align: center;
        font-size: 45px;
    }
    button {
        width: 100%;
    }
}